<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.usi.aliannejadi.usearch">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="ch.usi.aliannejadi.usearch.uSearch"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/uSearchTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ch.usi.aliannejadi.usearch.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.usi.aliannejadi.usearch.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="ch.usi.aliannejadi.usearch.AdminActivity"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="ch.usi.aliannejadi.usearch.background.BackgroundRecorder" />

        <receiver android:name="ch.usi.aliannejadi.usearch.background.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ch.usi.aliannejadi.usearch.background.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="XXXX" />

        <activity android:name="ch.usi.aliannejadi.usearch.PostTaskQuestionnaireActivity" />
    </application>

</manifest>